<a routerLink="/"> <img class="display_center" src="assets/2020_logo_finep.png" alt="logo"></a>
<div style="height:100px;display:block;">
  <p class="margin25_left">
    
    FINEP est une plateforme d'épargne participative entre particuliers
    avec deux types de profils: "gestionnaire", "investisseur". <br> Pouvant
    respectivement ouvrir leur capital aux autres utilisateurs et investir
    dans les capitaux d'autres utilisateurs. <br> FINEP s'adresse aux
    habitués des placements boursiers et aux désireux d'épargner
    autrement avec de plus haut intérêt ainsi qu'une durée de contrat
    modulable.
  </p>
</div>
