
<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Informations">
        <div class="demo-tab-content">
          <mat-card class="Main-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>PRENOM NOM</mat-card-title>
              <mat-card-subtitle>NOTE</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-card class="Inside-card">
                <mat-card-header>
                  <mat-card-title>CAPITAL INFORMATIONS</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
              </mat-card>

              <mat-card class="Inside-card">
                <mat-card-header>
                  <mat-card-title>LISTE COMMENTAIRE</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>

              </mat-card>
            </mat-card-content>
          </mat-card>
          <div class="information-change-button">
            <button mat-raised-button color="primary">CHANGE ICON</button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Contrats créer">
        <div class="demo-tab-content">
          <mat-accordion>
            <mat-expansion-panel (closed)="panelOpenStateContratCree = false"
                                 (opened)="panelOpenStateContratCree = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Date
                </mat-panel-title>
                <mat-panel-description>
                  Nom de la personne avec qui le contrat est établis
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Description du contrat</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Contrats signés">
        <mat-accordion>
          <mat-expansion-panel (closed)="panelOpenStateContratSigne = false"
                               (opened)="panelOpenStateContratSigne = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Date
              </mat-panel-title>
              <mat-panel-description>
                Nom de la personne avec qui le contrat est établis
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Description du contrat</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Collaborateurs actuels">
        <div class="demo-tab-content">
          <mat-accordion>
            <mat-expansion-panel (closed)="panelOpenStateCollaborateurActuel = false"
                                 (opened)="panelOpenStateCollaborateurActuel = true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Date
                </mat-panel-title>
                <mat-panel-description>
                  Nom du collaborateur
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>Description du/des contrats avec ce collaborateur</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>
      <mat-tab label="Historique des investissements">
        <mat-accordion>
          <mat-expansion-panel (closed)="panelOpenStateHistoriqueInvestissement = false"
                               (opened)="panelOpenStateHistoriqueInvestissement = true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Date
              </mat-panel-title>
              <mat-panel-description>
                Montant de l'investissement ainsi que l'endroit
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Description de l'investissement</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<form (ngSubmit)="submitNewContract()">
  <input type="text" name="body" placeholder="body" [(ngModel)]="newContract.body" />
  <input type="submit" value="New contract" />
</form>
<br/>
<form (ngSubmit)="submitNewInvestment()">
  <input type="number" name="authorid" placeholder="author id" [(ngModel)]="newInvestment.author_id" />
  <input type="number" name="destid" placeholder="dest id" [(ngModel)]="newInvestment.dest_id" />
  <input type="number" name="value" placeholder="value" [(ngModel)]="newInvestment.value" />
  <input type=submit value="New investment" />
</form>
