body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }
  
  mat-card {
    max-width: 90%;
    margin: 2em auto;
    text-align: left;
  }
  
  .done {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

  .left-align {
    position: absolute;
    left: 5px;
  }

  .right-align {
    position: absolute;
    right: 5px;
  }