<div>
  <mat-card>
    <mat-card-title>
      {{userData.pseudo}}
    </mat-card-title>
    <mat-grid-list cols="4" rowHeight="3:1">
      <mat-grid-tile [rowspan]="3" style="background: lawngreen">
        <img src="https://yt3.ggpht.com/a-/AJLlDp16Wni1iBeAmM8nuPJOTfSDzuoZjwdA9nVAIw=s88-mo-c-c0xffffffff-rj-k-no" />
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" style="background: lightblue">
        BONJOUR LE MONDE
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" style="background: lightblue">
        BONJOUR LE MONDE
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" style="background: lightblue">
        BONJOUR LE MONDE
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <span class="done">
    <button mat-fab>
      <mat-icon>check circle</mat-icon>
    </button>
  </span>
</div>