<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Informations">
        <div class="demo-tab-content">
          <button mat-raised-button color="primary">Modifier mes informations</button>
        </div>
      </mat-tab>
      <mat-tab label="Contrats créer">
        <div class="demo-tab-content">
        No content
        </div>
      </mat-tab>
      <mat-tab label="Contrats signés">
        No content
      </mat-tab>
      <mat-tab label="Collaborateurs actuels">
        <div class="demo-tab-content">
        No content
        </div>
      </mat-tab>
      <mat-tab label="Historique des investissements">
        No content
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<form (ngSubmit)="submitNewContract()">
  <input type="text" name="title" placeholder="title" [(ngModel)]="newContract.title" />
  <input type="text" name="body" placeholder="body" [(ngModel)]="newContract.body" />
  <input type="submit" value="New contract" />
</form>
<br/>
<form (ngSubmit)="submitNewInvestment()">
  <input type="number" name="authorid" placeholder="author id" [(ngModel)]="newInvestment.author_id" />
  <input type="number" name="destid" placeholder="dest id" [(ngModel)]="newInvestment.dest_id" />
  <input type="number" name="value" placeholder="value" [(ngModel)]="newInvestment.value" />
  <input type=submit value="New investment" />
</form>
