
<h3> Information investisseur</h3>
<p>
  Notre plateforme vous offre la possibilité de pouvoir navigué à travers différent profile de gestionnaire particulier
  afin de pouvoir trouver un profile qui vous match au mieux. Il vous sera mis a disposition un outils pour pouvoir discuter,
  négocier les contrats de particulier à particulier, ainsi que conclure un contrat.
</p>

<h3> Information gestionnaire (ouvrir son compte)</h3>
<p>
 Notre plateforme vous offre la possibilité d'ouvrir votre propre capitale d'épargne à d'autres particulier, ce qui vous
  permettra entre autres de disposer d'un capitale plus élevé en ayant des risques partagé entre plusieur parties impliqué.
  Il vous sera mis a disposition un outils pour pouvoir discuter, négocier les contrats de particulier à particulier,
  ainsi que conclure un contrat.
</p>

<h3 align="center">--------------------------------</h3>

<p><br>
  Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, FINEP , ci-après <br>
  dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site et<br>
  d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.<br>
  <br>
  Toute connexion au site est subordonnée au respect des présentes conditions.<br>
  <br>
  Pour l’utilisateur, le simple accès au site de l’EDITEUR à l’adresse URL suivante ____  implique l’acceptation de <br>
  l’ensemble des conditions décrites ci-après. <br>
  <br>
  Propriété intellectuelle <br>
  <br>
  La structure générale du site ____ , ainsi que les textes, graphiques, images, sons et  vidéos la composant, sont la <br>
  propriété de l'éditeur ou de ses partenaires. Toute représentation et/ou reproduction et/ou exploitation partielle ou <br>
  totale des contenus et services proposés par le site ____ , par quelque procédé que ce soit, sans l'autorisation <br>
  préalable et par écrit de  ____  et/ou de ses partenaires est strictement interdite et serait susceptible de <br>
  constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle. <br>
  <br>
  Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle, ne peut être <br>
  faite de ce site sans l’autorisation du directeur de publication.


  <a href="https://www.legifrance.gouv.fr">Legifrance.gouv</a>
</p>
